# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# Android related
/android/app/release/
/android/app/debug/
/android/.gradle/
/android/build/

# iOS related
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/build/

# Web build
/build/

# Misc
*.log
*.lock
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.DS_Store

# Firebase config to ignore (optional)
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist
